//
// MODULE DEPENDANCY: Dropmenu within table
// Add keyboard shortcuts for your context menus

// @author: Martin Staněk (https://github.com/icoach)
// @bootstrap: 3.2
// @example:
    
// ----------------------------------------

.table > thead > tr > th.col-actions {
	padding-top: 0;
	padding-bottom: 0;
	
	.dropdown-toggle {
		color: @gray-light;
	}	
}

// .table > thead > tr > th, 
// .table > tbody > tr > th, 
// .table > tfoot > tr > th, 
// .table > thead > tr > td, 
// .table > tbody > tr > td, 
// .table > tfoot > tr > td